@import url('./all.min.css');
@import url('./reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

div.hdrTopWrap {
    background-color: #212517;
}

div.hdrTopWrap > div.hdrTop {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    color: white;
}

div.hdrTopWrap > div.hdrTop > h5 {
    font-size: 35px;
    width: fit-content;
    margin-left: 100%;
    animation: move 5s infinite linear;
}

@keyframes move {
    0%{
        margin-left: 100%;
    }
    100%{
        margin-left: 0%;
    }
}

div.headerWrap {
    background-color: #A31F30;
}

div.headerWrap > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: white;
}

div.headerWrap > header > h1 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
    line-height: 80px;
    font-size: 25px;
    font-weight: bold;
}

div.headerWrap > header > nav {
    display: flex;
    line-height: 80px;
    column-gap: 20px;
}

div.headerWrap > header > nav > h4 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
    line-height: 40px;
}

div.cntWrap {
    /* 스타일 추가 */
}

div.cntWrap.wrap1 {
    /* 스타일 추가 */
    margin-top: 80px;
}

div.cntWrap.wrap1 > div.content.cnt01 {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

div.cntWrap.wrap1 > div.content.cnt01 > header {
    /* 스타일 추가 */
}

div.cntWrap.wrap1 > div.content.cnt01 > header > h2 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
    line-height: 80px;
    font-size: 40px;
    text-align: center;
}

div.cntWrap.wrap1 > div.content.cnt01 > header > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
    width: calc(100% / 12 * 6);
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

div.cntWrap.wrap1 > div.content.cnt01 > section {
    /* 스타일 추가 */
    margin-top: 40px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop {
    display: flex;
    column-gap: 20px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article {
    /* 스타일 추가 */
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.image {
    /* 스타일 추가 */
    height: 320px;
    background-color: #ccc;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.texts {
    /* 스타일 추가 */
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.texts > h3 {
    /* 스타일 추가 */
    font-family: "Mountains of Christmas", serif;
    font-size: 25px;
    line-height: 40px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.texts > h4 {
    /* 스타일 추가 */
    line-height: 40px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.texts > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.texts > div.icons {
    /* 스타일 추가 */
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm {
    display: flex;
    column-gap: 20px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article {
    /* 스타일 추가 */
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article > div.image {
    /* 스타일 추가 */
    height: 320px;
    background-color: #ccc;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article > div.texts {
    /* 스타일 추가 */
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article > div.texts > h3 {
    /* 스타일 추가 */
    line-height: 40px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article > div.texts > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
}

div.cntWrap.wrap2 {
    /* 스타일 추가 */
    margin-top: 80px;
}

div.cntWrap.wrap2 > div.content.cnt02 {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

div.cntWrap.wrap2 > div.content.cnt02 > header {
    /* 스타일 추가 */
    font-family: "Mountains of Christmas", serif;
    color: white;
}

div.cntWrap.wrap2 > div.content.cnt02 > header > h2 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
    line-height: 80px;
    font-size: 40px;
    text-align: center;
}

div.cntWrap.wrap2 > div.content.cnt02 > header > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
    width: calc(100% / 12 * 6);
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article {
    display: flex;
    /* 스타일 추가 */
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.image {
    height: 440px;
    width: 50%;
    background-color: #ccc;
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.texts {
    width: 50%;
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.texts > h3 {
    /* 스타일 추가 */
    font-family: "Mountains of Christmas", serif;
    font-size: 25px;
    line-height: 40px;
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.texts > h4 {
    /* 스타일 추가 */
    line-height: 40px;
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.texts > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.texts > div.button {
    /* 스타일 추가 */
}

div.cntWrap.wrap2 > div.content.cnt02 > section {
    /* 스타일 추가 */
    margin-top: 40px;
}

div.cntWrap.wrap3 {
    /* 스타일 추가 */
    margin-top: 80px;
}

div.cntWrap.wrap3 > div.content.cnt03 {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

div.cntWrap.wrap3 > div.content.cnt03 > header {
    /* 스타일 추가 */
}

div.cntWrap.wrap3 > div.content.cnt03 > header > h2 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
    line-height: 80px;
    font-size: 40px;
    text-align: center;
}

div.cntWrap.wrap3 > div.content.cnt03 > header > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
    width: calc(100% / 12 * 6);
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

div.cntWrap.wrap3 > div.content.cnt03 > section {
    display: flex;
    column-gap: 20px;
}

div.cntWrap.wrap3 > div.content.cnt03 > section > article {
    /* 스타일 추가 */
}

div.cntWrap.wrap3 > div.content.cnt03 > section > article > div.image {
    height: 200px;
    background-color: #ccc;
}

div.cntWrap.wrap3 > div.content.cnt03 > section > article > div.texts {
    /* 스타일 추가 */
}

div.cntWrap.wrap3 > div.content.cnt03 > section > article > div.texts > h3 {
    /* 스타일 추가 */
    font-family: "Mountains of Christmas", serif;
    font-size: 25px;
    line-height: 40px;
}

div.cntWrap.wrap3 > div.content.cnt03 > section > article > div.texts > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
}

div.cntWrap.wrap3 > div.content.cnt03 > section {
    /* 스타일 추가 */
    margin-top: 40px;
}

div.footerWrap {
    background-color: #A31F30;
}

div.footerWrap > footer {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: white;
}

div.footerWrap > footer > h4 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
}

div.footerWrap > footer > p {
    /* 스타일 추가 */
    font-size: 12px;
}

div.footerWrap > footer > div.sns {
    /* 스타일 추가 */
}

div.footerWrap > footer > div.sns > i {
    /* 스타일 추가 */
}